
/*Progress Bar CSS*/

.progress-container-top-admin-bar {
  position: fixed;
  top: 30px;
  z-index: 100;
  width: 100%;
  height: 8px;
  background: #ccc;
}

/*Progress Bar CSS*/

.progress-container-top {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 10px;
  background: #ccc;
}

.progress-container-bottom {
  position: fixed;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  height: 10px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #FF0040;
  width: 0%;
  z-index: 200;
}

/*Reading time Display CSS*/
.bsf_rt_show_readtime_label {
  min-width: 200px;
  display: inline-block;
}

.bsf_rt_display_label:after {
  content: attr(prefix);
}

.bsf_rt_display_time:after {
  content: attr(reading_time);
}

.bsf_rt_display_postfix:after {
  content: attr(postfix);
}

/*If we use astra hook of after header*/

.bsf_rt_reading_time_after_astra_header {
  background-color: black;
  color: white;
  margin-left: 75px;
  font-weight: bolder;
  font-weight: 500;
  width: auto;
  padding: 5px;
  display: inline-block;
}
/*Class readtime CSS*/

/*.bsf_rt_reading_time_before_content
{
    background-color: black;
    color: white;
    font-weight: 500;
    width: auto;
    font-size: 15px ;
    padding: 0.5em 0.7em;
    display: inline-block;

}*/