.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: normal;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}

/*Class readtime CSS*/

.bsf_rt_reading_time_before_content
{
    background-color: black;
    color: white;
    font-weight: bolder;
    font-weight: 500;
    width: auto;
    padding: 5px;
    display: inline-block;

}
.bsf_rt_reading_time_after_astra_header
{
    background-color: black;
    color: white;
    margin-left: 75px;
    font-weight: bolder;
    font-weight: 500;
    width: auto;
    padding: 5px;
    display: inline-block;
}

/*Progress Bar CSS*/
.progress-container-top{
  position: fixed;
 /* top: 30px;*/
  z-index: 1;
  width: 100%;
  height: 8px;
  background: #ccc;
  
}
.progress-container-bottom {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 8px;
  background: #ccc;
  
}

.progress-bar {
  height: 8px;
  background: #FF0040;
  width: 0%;
  z-index: 2;
  
}

#gradiant-wrap1 , #gradiant-wrap2 {

  display: none;

}

#bsf-rt-progress-bar-options{
  display: block;
}
/*#bsf_rt_progress_bar_container {
  opacity: 0.5;
  /*transition: opacity ease-in-out 200ms;
}*/
.bsf_rt_show_readtime_label{
  min-width: 200px;
  display: inline-block;
}
/*Post Types CSS*/
/*.post_type_name
{
  text-transform: capitalize;
}*/
